* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Merriweather Sans", sans-serif;
  color: black;
  background: #DDE0BD;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}
header h1 {
  display: inline-block;
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 3rem;
}

.form_container {
  width: 100%;
  height: 200px;
  background-image: url("../Images/src_bg1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.form_container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}
.form_container .form__label {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  text-shadow: 3px 3px 3px rgb(73, 73, 73);
  font-style: italic;
  font-family: "Lato", sans-serif;
  color: #DDE0BD;
}
.form_container .form__label__input {
  width: 200px;
  height: 15px;
  font-size: 1.5rem;
  margin: 5px 0;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
}
.form_container .form button {
  width: 100px;
  height: 30px;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: #DDE0BD;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}
.form_container .form button:hover {
  background: #e7eaca;
}
.form_container .form button:active {
  background: #575b5b;
  color: whitesmoke;
  -webkit-box-shadow: 0 5px rgb(95, 95, 95);
          box-shadow: 0 5px rgb(95, 95, 95);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.form_container .form__error {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_container .form__error #error_msg {
  color: white;
  text-shadow: 2px 2px 2px #870000;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.section__recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  margin: 10px;
}
.section__recipes #no_result {
  margin: 20px auto;
  color: #870000;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
.section__recipes .recipe {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}
.section__recipes .recipe #meal_name {
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem;
}
.section__recipes .recipe__img {
  width: 70%;
  border-radius: 50%;
  border: 5px solid white;
  margin: 1rem;
}
.section__recipes .recipe #instructions {
  text-align: justify;
}
.section__recipes .recipe #recipe__source {
  font-size: 2rem;
  text-decoration: none;
}
.section__recipes .recipe #recipe__source a {
  text-decoration: none;
  color: rgb(110, 108, 108);
  text-shadow: 1px 1px 1px black;
  font-style: italic;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
.section__recipes .recipe #recipe__source a:hover {
  color: #e4c4af;
}
.section__recipes .recipe #recipe__source a:visited {
  color: #889033;
}

footer {
  width: 100%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}
footer p {
  text-align: center;
  font-size: 1rem;
  margin: 10px auto;
}
footer p a {
  font-size: 1.05rem;
  text-decoration: none;
  color: rgb(36, 36, 36);
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}
footer p a:hover {
  color: rgb(97, 97, 97);
}
footer p a:visited {
  color: rgb(97, 88, 88);
}