@use "./variables";

@mixin footer_settings {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-top: auto;
    p {
        font-size: 1rem;
        margin: 0 auto;
        a {
            font-size: 1.05rem;
            text-decoration: none;
            color: rgb(36, 36, 36);
            transition: color 0.6s;
        }
        a:hover {
            color: variables.$footer_link_hover;
        }
        a:visited {
            color: variables.$footer_link_visited;
        }
    }
}