html {
    font-size: 10px;
}
//Fonts
//Header
$header-font-family: 'Dancing Script', cursive;
// Recipe name
$recipe-name-font-family: 'Lato', sans-serif;
// Main
$main-font-family: 'Merriweather Sans', sans-serif;

//Colors
$error_color: #870000;
$background-color : #DDE0BD;