.recipe__thumbnail {
  width: 80%;
  padding: 10px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 10px;
  }

  img {
    width: 60%;
    border-radius: 20px;
    filter: grayscale(.7);
    transition: all 0.3s;
  }
  transition: all 0.3s;
}

.recipe__thumbnail:hover {
  background-color: #ffe76d95;
  border-radius: 25px;

  img {
    filter: grayscale(0);
  }
}

@media screen and (min-width: 992px){
  .recipe__thumbnail {
    width: 100%;

    img {
      width: 80%;
    }
  }
}