.recipes {
  width: 100%;
  height: 200px;
  background-color: #FFE66D;
  margin: 0 auto 20px auto;
}
.recipes .form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recipes .form__container .form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}
.recipes .form__container .form__label {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
}
.recipes .form__container .form__label--input {
  width: 250px;
  height: 40px;
  font-size: 1.5rem;
  margin: 5px 0;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
}
.recipes .form__container .form button {
  width: 250px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background-color: #0A2342;
  color: white;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: pointer;
}
.recipes .form__container .form button:hover {
  background: #14447e;
}
.recipes .form__container .form button:active {
  background: #14447e;
  -webkit-box-shadow: 0 5px #14447e;
          box-shadow: 0 5px #14447e;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.recipes .form__container .form__error {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF2E00;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.recipes .recipes__container {
  width: 100%;
  height: 100%;
  margin: 35px auto 10px auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .recipes .recipes__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
}