@use "./Sass_components/reseter";
@use "./Sass_components/variables";
@use "./Sass_components/responsive_1200";

body {
    font-size: 1.8rem;
    font-family: variables.$main-font-family;
    color: black;
    background: variables.$background-color;
}
header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    h1 {
        display: inline-block;
        font-family: variables.$header-font-family;
        text-align: center;

    }
}

.form {
    &__error {
        #error_msg {
            color: variables.$error_color;
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
}
#no_result {
    color: variables.$error_color;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}





