@use "./Sass_components/reseter";
@use "./Sass_components/variables";
@use "./Sass_components/footer" as footer;
@use "./Sass_components/responsive_768" as medium_size;
@use "./Sass_components/responsive_992" as large_size;
@use "./Sass_components/responsive_1200" as xl_size;
@use "./Sass_components/responsive_1400" as xxl_size;

body {
    position: relative;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: variables.$main-font-family;
    color: black;
    background: variables.$background-color;
}
header {
    display: flex;
    justify-content: center;
    padding: 2rem;
    h1 {
        display: inline-block;
        font-family: variables.$header-font-family;
        text-align: center;
        font-size: 3rem;
    }
}
.form_container {
        width: 100%;
        height: 200px;
        background-image: url('../Images/src_bg1.jpg');
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
            &__label {
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 2.5rem;
                text-shadow: 3px 3px 3px rgb(73, 73, 73);
                font-style: italic;
                font-family: variables.$recipe-name-font-family;
                color: variables.$background-color;
                &__input {
                    width: 200px;
                    height: 15px;
                    font-size: 1.5rem;
                    margin: 5px 0;
                    padding: 10px;
                    border: 1.5px solid black;
                    border-radius: 10px;
                }
            }
            button {
                width: 100px;
                height: 30px;
                display: block;
                margin: 0 auto;
                font-size: 1.5rem;
                font-weight: 600;
                border: none;
                border-radius: 5px;
                background: variables.$background-color;
                transition: background-color  0.4s ;
                cursor: pointer;
                &:hover {
                    background: variables.$button_bg_hover;
                }
                &:active {
                    background: variables.$button_bg_active;
                    color: variables.$button_font_active;
                    box-shadow: 0 5px rgb(95, 95, 95);
                    transform: translateY(2px);
                }
            }
            &__error {
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #error_msg {
                    color: variables.$error_msg_color;
                    text-shadow: 2px 2px 2px variables.$error_color;
                    font-size: 2rem;
                    font-weight: 700;
                    letter-spacing: 1px;
                }
            }
        }
}
.section__recipes {
    #no_result {
        margin: 20px auto;
        color: variables.$error_color;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .recipe {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid black;
        #meal_name {
            font-size: 2.5rem;
            text-align: center;
            margin: 1rem;
            font-family: variables.$recipe-name-font-family;
        }
        &__img {
            width: 70%;
            border-radius: 50%;
            border: 5px solid white;
            margin: 1rem;
        }
        &__instructions {
            text-align: justify
        }
        #recipe__source {
            font-size: 2rem;
            text-decoration: none;
            a {
                text-decoration: none;
                color: variables.$recipe_link_color;
                text-shadow: 1px 1px 1px black;
                font-style: italic;
                transition: color 0.6s;
            }
            a:hover {
                color: variables.$recipe_link_hover;
            }
            a:visited {
                color: variables.$recipe_link_visited;
            }
        }
    }
}


footer {
    @include footer.footer_settings;
}

@media screen and (min-width: variables.$size_m) {
    @include medium_size.size_m;
}

@media screen and (min-width: variables.$size_l){
    @include large_size.size_l;
}

@media screen and (min-width: variables.$size_xl){
    @include xl_size.size_xl;
}

@media screen and (min-width: variables.$size_xxl) {
    @include xxl_size.size_xxl;
}