.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 10px;
  background-color: rgba(254, 254, 254, 0.9764705882);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}
.modal h2 {
  font-size: 2rem;
  text-align: center;
}
.modal img {
  max-width: 70%;
}
.modal .meal__category span {
  margin-left: 5px;
  font-size: 1.1rem;
}
.modal .ingredients {
  width: 100%;
  margin: 10px auto;
}
.modal .ingredients h3 {
  text-align: center;
  font-size: 1.8rem;
}
.modal .ingredients ul, .modal .ingredients li {
  list-style: none;
  font-size: 1.3rem;
  text-align: left;
}
.modal .recipe__inst {
  width: 100%;
  margin: 10px auto;
}
.modal .recipe__inst p {
  text-align: justify;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 20px;
  }
  .modal img {
    max-width: 40%;
  }
}