@mixin size_xxl{
        .section__recipes {
            justify-content: space-around;
            .recipe {
                width: 30%;
                &__img {
                    width: 65%;
                }
            }
        }
}

