<<<<<<< HEAD:HTMLJs/Sass_components/_responsive_1200.scss
@mixin size_xl {
    header {
        height: 150px;
        align-items: center;
        h1 {
            font-size: 5rem;
        }
    }
    .form_container {
        height: 400px;
        .form {
            margin: 20px;
            &__label {
                margin: 30px 0;
                font-size: 4.5rem;
                &__input {
                    width: 300px;
                    height: 50px;
                    font-size: 2rem;
                    padding: 10px;
                }
            }
        }
    }
    .section__recipes {
        #no_result {
            font-size: 5rem;
        }
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        .recipe {
            width: 40%;
            padding: 10px;
            margin: 10px 20px;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            border-bottom: none;
            #meal_name {
                font-size: 3.5rem;
            &__img {
                width: 60%;
                margin: 10px;
            }
            &__instructions {
                margin: 10px;
                text-align: left;
                line-height: 1rem;
            }
            #recipe__source {
                font-size: 2.8rem;
            }
        }
    }
        }
}
=======
@mixin size_xl {
    header {
        height: 150px;
        align-items: center;
        h1 {
            font-size: 5rem;
        }
    }
    .form_container {
        height: 400px;
        .form {
            margin: 20px;
            &__label {
                margin: 30px 0;
                font-size: 4.5rem;
                &__input {
                    width: 300px;
                    height: 50px;
                    font-size: 2rem;
                    padding: 10px;
                }
            }
        }
    }
    .section__recipes {
        #no_result {
            font-size: 5rem;
        }
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;
        width: 100%;
        .recipe {
            width: 40%;
            padding: 10px;
            margin: 10px 20px;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            border-bottom: none;
            #meal_name {
                font-size: 3.5rem;
            &__img {
                width: 60%;
                margin: 10px;
            }
            &__instructions {
                margin: 10px;
                text-align: left;
                line-height: 1rem;
            }
            #recipe__source {
                font-size: 2.8rem;
            }
        }
    }
        }
}
>>>>>>> 88fd0a12854abb117bc0173d96e4931daa09ff8a:Sass_components/_responsive_1200.scss
