html {
    font-size: 10px;
}
// Screen sizes
$size_m: 768px;
$size_l: 992px;
$size_xl: 1200px;
$size_xxl: 1400px;
//Fonts
//Header
$header-font-family: 'Dancing Script', cursive;
// Recipe name
$recipe-name-font-family: 'Lato', sans-serif;
// Main
$main-font-family: 'Merriweather Sans', sans-serif;

//Colors
$error_color: #870000;
$background-color : #DDE0BD;
$button_bg_hover: #e7eaca;
$button_bg_active: #575b5b;
$button_font_active: whitesmoke;
$error_msg_color: white;
$recipe_link_color: rgb(110, 108, 108);
$recipe_link_hover: #e4c4af;
$recipe_link_visited: #889033;
$footer_link_hover: rgb(97, 97, 97);
$footer_link_visited: rgb(97, 88, 88);