.recipe__thumbnail {
  width: 80%;
  margin: 15px auto;
  border: 2px solid black;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.recipe__thumbnail h2 {
  font-size: 1.5rem;
}
.recipe__thumbnail img {
  width: 60%;
  border-radius: 20px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe__thumbnail:hover {
  background-color: #DD970E;
}
.recipe__thumbnail:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (min-width: 992px) {
  .recipe__thumbnail {
    width: 100%;
  }
  .recipe__thumbnail img {
    width: 80%;
  }
}