.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 10px;
  background-color: #fefefef9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;

  h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  img {
    max-width: 70%;
  }

  .meal__category {
    span {
      margin-left: 5px;
      font-size: 1.1rem;
    }
  }

    .ingredients {
      width: 100%;
      margin: 10px auto;
    h3 {
      text-align: center;
      font-size: 1.8rem;
    }
    ul, li {
      list-style: none;
      font-size: 1.3rem;
      text-align: left;
    }
  }

  .recipe__inst {
    width: 100%;
    margin: 10px auto;

    p {
      text-align: justify;
      font-size: 1.5rem;
    }
  }
}

