@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-size: 1.8rem;
  color: black;
  background: #F2F4F3;
  font-family: 'Dosis', sans-serif;
}

h1 {
  margin: 20px auto;
  text-align: center;
  font-size: 3rem;
  font-family: 'Righteous', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media screen and (min-width: 992px){
  h1 {
    font-size: 4rem;
    letter-spacing: 1px;
    text-align: center;
  }
}