.recipe__thumbnail {
  width: 80%;
  padding: 10px;
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.recipe__thumbnail h2 {
  text-align: center;
  font-size: 1.8rem;
  margin: 10px;
}
.recipe__thumbnail img {
  width: 60%;
  border-radius: 20px;
  -webkit-filter: grayscale(0.7);
          filter: grayscale(0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe__thumbnail:hover {
  background-color: rgba(255, 231, 109, 0.5843137255);
  border-radius: 25px;
}
.recipe__thumbnail:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@media screen and (min-width: 992px) {
  .recipe__thumbnail {
    width: 100%;
  }
  .recipe__thumbnail img {
    width: 80%;
  }
}